.profile__avatar {
    max-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    transition: opacity .3s;
    object-fit: cover;
}

.profile__avatar:hover {
    opacity: 0.8;
    background-image: url(../../../images/avatar_svg.svg);
}
